  </main>
  <footer class="footer">
    <div class="container">
      <span>Dev Blog &copy; <%= new Date().getFullYear() %></span>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</body>
</html>
